[2017-02-24 12:00] hrbrmstr opened #1 "Feed handling, why RCurl dep and github install link"
Congrats on the CRAN submission!

However…

Neither of these worked (the first 2 things I tried):

    tidyfeed("https://rud.is/b/feed/")

    tidyfeed("https://rweekly.org/atom.xml")

Those are totally valid feed that work in every RSS reader but not in your pkg.

`xml2` already `Suggests` `curl` and `httr` and most folks who are likely to use this pkg  have the `tidyverse` installed. `RCurl` add

[2017-02-24 12:17] RobertMyles commented on #1
Thanks @hrbrmstr. I was actually using curl and httr and I had the package ready, until I discovered it didn't work with some rss feeds, so I switched to RCurl, which did work with them. Thanks for the report, I'll get it fixed asap.

[2017-02-24 12:46] #1 closed

[2017-04-04 00:56] double-y opened #2 "A url doesn't work"
Hi, thank you for this great R package 😄

I found a url that doesn't return anything. Could you support it?
https://www.wrike.com/rss/42acd7c449ad444c8ccea977f83413be

[2017-04-04 10:55] RobertMyles commented on #2
Sure, @double-y ! I'll get working on it as soon as I can. Thanks for filing the issue!

[2017-04-15 12:41] RobertMyles opened #3 "List of rss/Atom feeds that are not parsing correctly"
https://hayobethlehem.nl/feed/atom/

- returns error  (issue on xml2 repo)

http://w3future.com/weblog/rss.xml?notransform
- returns error
- malformed

http://www.intertwingly.net/blog/index.atom
 - mix up with link
- works

http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml
 - works

[2017-06-05 22:49] RobertMyles opened #4 "get content"
if possible, get back full text of blog posts etc. Currently there's a whole load of `<img>` and things like that to parse out.

[2017-06-06 22:33] RobertMyles commented on #2
Are you sure this a feed, @double-y ? I get this when I go to that address:

`{"success":false,"messageKey":"i18n.workspacemessages.no_rss_feature","message":"No RSS feature","mayRetry":false,"ex":null}`

[2017-06-06 22:33] #2 closed

[2017-06-06 22:33] #4 closed

[2017-06-08 21:22] hrbrmstr opened #6 "support jsonfeed"
https://jsonfeed.org/

IMO it likely makes more sense to support this in one "RSS" pkg than a separate one. I can help with it as well but didn't want to start a new one w/o positing this here first.

[2017-06-08 22:02] RobertMyles commented on #6
Ok, that makes sense to me. You're welcome to send a pull request if you think it will be something quick and easy. If it sounds like more work, I can add you as a collaborator, whatever you think best.

[2017-06-15 23:40] dfalbel commented on #3
@RobertMyles   this feed has 3 entries but returns only a data.frame with 2 rows:

http://lurodrigo.com/feed.R_pt.xml

[code]

Am I doing something wrong?

[2017-06-16 16:58] RobertMyles commented on #3
Nope, doing nothing wrong, it was the way I was using Xpath for Atom feeds. Fixed now:

[code]

This will work in the dev version, I'm submitting to CRAN now.

[2017-06-17 00:37] dfalbel commented on #3
Great! Thanks!

[2017-07-02 20:55] RobertMyles commented on #6
@jsonbecker @hrbrmstr Any suggestions for how to do this (before I start and maybe lose time trying to understand the format 😄  ) ?

[2017-09-05 15:56] student0129 opened #7 "Problem reading feeds"
Hi,

I have used this package before and it worked for some feeds. I say some because feeds are finicky. However, the package suddenly stopped working. For example, I cannot get access to feeds such as https://www.federalreserve.gov/feeds/press_orders.xml, https://public.govdelivery.com/topics/USFDIC_11/feed.rss, or https://www.sec.gov/rss/investor/alerts.

The code I use is very simple:
library(t

[2017-09-07 13:06] RobertMyles commented on #7
Hi @student0129 . Can you try `httr::GET()` on these feeds? If it gives you some type of SSL error (such as `SSLRead() return error -9806`), this might work:

[code]

[2017-09-07 15:35] RobertMyles commented on #7
These work now:

`tidyfeed("https://www.federalreserve.gov/feeds/press_orders.xml")` gives:

[code]
`tidyfeed("https://public.govdelivery.com/topics/USFDIC_11/feed.rss")`:

[code]

[code]

(showing just a snippet of each)

[2017-09-07 15:35] #7 closed

[2017-09-07 15:35] RobertMyles commented on #6
Clsed with v1.2.2

[2017-09-07 15:35] #6 closed

[2018-01-24 14:37] jimhester opened #9 "Rethink testing strategy"
The current method of testing for **tidyRSS** produces non-deterministic results because a different feed is used each time tests are run. This makes test failures hard to reproduce and spurious, when testing on CRAN or elsewhere.

https://github.com/RobertMyles/tidyRSS/blob/55e52555d65584a46eee54edf3d233b8c82ffecb/tests/testthat/test.feeds.R#L8-L12

This is made doubly bad because currently two o

[2018-01-24 16:56] RobertMyles commented on #9
Ok, Jim, will do, thanks for the heads-up.

[2018-01-29 01:29] #9 closed

[2018-05-16 14:59] epimpler opened #10 "Problems with geoRSS"
I'm having trouble getting tidyfeed to parse georss tags.  See below.

rss = tidyfeed("https://inciweb.nwcg.gov/feeds/rss/incidents/")
xmlXPathEval: evaluation failed
xmlXPathEval: evaluation failed
...
...

[2018-05-17 12:36] RobertMyles commented on #10
I'm getting a server not found error when I try and connect to that url, are you sure it's correct? It could be undergoing maintenance, that happens a lot with rss feeds.

[2018-05-17 13:31] epimpler commented on #10
I get the XML coming back when I enter the URL below into my web browser
but get those error messages when I use the function.  It loads <title>,
<published>, <pubDate>, , <link>, and <guid>, but fails to load
<georss:point>, <geo:lat>, and <geo:long> and I assume those error messages
are related to not being able to parse those georss tags.

https://inciweb.nwcg.gov/feeds/rss/incidents/

On Thu,

[2018-05-17 13:56] RobertMyles commented on #10
I'll check as soon as the site comes back up (still not loading in my browser). Could be those tags, indeed.

[2018-05-17 17:41] epimpler commented on #10
I was able to workaround the problem using the code you see below, but
would be great to be able to create the data frame by calling your function.

 xml.url = "https://inciweb.nwcg.gov/feeds/rss/incidents/"
 rssdoc = xmlParse(getURL(xml.url))
 rsstitle = xpathSApply(rssdoc, '//item/title', xmlValue)
 rsslink = xpathSApply(rssdoc, '//item/link', xmlValue)
 rsslat = xpathSApply(rssdoc, '//item/geo:

[2018-06-01 17:32] RobertMyles commented on #10
Hi @epimpler , this should be fixed now with the latest commit. Support for georss is included in version 1.2.4, but until that's on CRAN (which should be shortly), you can use the dev version. Thanks for opening this issue, I didn't know about georss, they seem really interesting. I think I'll use them for a blog post!

[2018-06-01 17:32] #10 closed

[2018-06-01 18:42] epimpler commented on #10
That's great!  I'll update my code when it's up on CRAN.  Here is a link to
a Shiny application that I built which illustrates how the georss tags are
used.  The markers that display the individual wildfires are created by
reading the latitude/longitude coordinates from the Inciweb rss feed.  I
found a workaround to the issue but will go back now and update my code to
use your tidyRSS package.

ht

[2018-06-01 19:16] RobertMyles commented on #10
Awesome!! I was just in the middle of making a little Shiny app of the same thing (much smaller and simpler, yours is way better)! Great minds, eh...

[2018-06-05 16:13] RobertMyles commented on #10
Hi @epimpler . The type returned by default is an simple features data.frame, with a "geometry" column that contains the latitude and longitude pairs. This can be changed with the new `sf` argument in `tidyfeed()`, which is TRUE by default:

[code]

Without `sf = TRUE`:

[code]

sf is becoming more common for geo-data, but in this case it's much the same thing, since it's not a polygon contained i

[2018-06-12 19:23] mbflex opened #11 ""evaluation failed" for RSS from Austria"
`library(tidyRSS)`
`rss <- tidyfeed("http://derStandard.at/?page=rss&ressort=Newsroom") `

results in many error messages: 'xmlXPathEval: evaluation failed'

[2018-06-13 14:49] RobertMyles commented on #11
Hi, these are warnings and not errors as such. `tidyRSS()` is searching for parameters (such as "author") that may or not exist in the feed, if they don't exist, you get this message. I've been meaning to clean it up, will do in a future release.

[2018-06-13 14:49] #11 closed

[2018-06-16 06:33] mbflex opened #12 "installation on Linux"
I like your package very much - thanks for sharing it!

I tried to use it on Linux machine as well.
This means, I tried to install it on a Linux machine: "install.packages("tidyRSS")"

I had to add several Linux libraries for this:
sudo apt-get install libudunits2-dev
sudo apt-get install libcurl4-openssl-dev
sudo apt-get install libxml2-dev
sudo apt-get install gdal-bin
sudo apt-get install libgd

[2018-06-17 13:43] RobertMyles commented on #12
Hmm, that's unfortunate! I'm using sf to work with the geoRSS feeds. These are new to the package, so previous versions would have worked fine for you.

This might help: [https://stackoverflow.com/questions/46770637/fail-to-upgrade-rgdal](https://stackoverflow.com/questions/46770637/fail-to-upgrade-rgdal)

Otherwise, you could fork the repo and take out the sf-related and geoRSS-related stuff and

[2018-06-17 13:43] #12 closed

[2018-07-05 12:14] elliejean95 opened #14 "Not parsing google alerts feed correctly"
I've been using the package to parse google alerts feeds but it's not collecting the URLs correctly :S

[2018-07-06 11:52] RobertMyles commented on #14
Can you give me an example feed to test?

[2018-07-09 12:36] elliejean95 commented on #14
https://www.google.co.uk/alerts/feeds/07888558226666345106/1066975920915049268

[2018-07-09 14:44] RobertMyles commented on #14
What exactly are you trying to get out of this feed? It comes back as I'd expect it to:

[code]

Are you looking to get the content from the material that the feed links to?

[2018-07-09 15:18] RobertMyles commented on #14
Ah, apologies, I see you want the urls of the material. I think you might have to extract those yourself, I'm afraid, since Google Alerts don't have the same structure as a regular rss feed. You could get a character vector of the feeds doing something like this:

[code]

Result:

[code]

You might need to extract the link from inside those, or perhaps they'll work by themselves. I don't use Googl

[2018-08-14 04:12] b-w-a opened #15 "Not getting full RSS tree"
HI there - trying to get this:

`result <- tidyfeed(feed = "https://www.fandango.com/rss/moviesnearme_90025.rss")`

But I only get the movie theatre locations, not the movies playing at that location. Any suggestions?

[2018-08-22 08:36] RobertMyles commented on #15
Hi,

That's a weird one, it should come back with the 'description' field. I'm getting errors regardless, so I need to do some work on the package, I've been too busy to come back to it lately. I'm going to close this because there are some bigger problems that need to be fixed and it'll probably get fixed with those, in the next version. Thanks for letting me know about the problem.

[2018-08-22 08:36] #15 closed

[2018-09-05 02:35] YoungjunNa opened #16 "xml error"
I have tried like that:
tidyRSS::tidyfeed("https://academic.oup.com/rss/site_6148/3994.xml")

An error message appear:
Error in doc$headers : $ operator is invalid for atomic vectors

Thank you.

[2018-09-15 09:52] RobertMyles commented on #16
Gives me a curl error:

[code]

Created on 2018-09-15 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

Not sure how to fix that, I'm afraid -- I've updated curl and httr, with no difference.

[2018-09-26 14:57] #16 closed

[2018-11-03 08:50] MoritzLaurer opened #17 "item_description does not load - newspapers rss feeds"
Hi @RobertMyles
I'm trying to download rrs feed data from European newspapers. The tidyfeed function downloads most of the data (title, link etc.), but unfortunately it does not download the item_description (in the case of newspapers, this is a short description of the article's content)

I tried this for three different newspapers, but the item_description never shows up:
gua_world <- tidyfeed("

[2018-11-04 09:13] RobertMyles commented on #17
Hi Moritz,
Thanks for letting me know about this failure. The current development version now includes the item description (should be on CRAN in the next few days). With your feeds:

[code]

<sup>Created on 2018-11-04 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-11-04 09:13] #17 closed

[2018-11-04 19:53] MoritzLaurer commented on #17
Great, thank you so much! that was very quick :)

[2018-11-11 00:11] lodderig commented on #3
Google Alerts RSS the item_link contains the ID instead of the link
e.g.

`>tidyfeed("https://www.google.com/alerts/feeds/03790873685617914995/10391961171333916339")

   feed_title   feed_link feed_last_updated item_title   item_date_updated   item_link  item_content
   <chr>        <chr>     <chr>             <chr>        <dttm>              <chr>      <chr>
 1 "Google Ale… ""        2018-11-09T2

[2018-11-16 19:36] RobertMyles commented on #3
Thanks @lodderig, I'll have a look at it a.s.a.p.

[2018-11-18 08:40] MoritzLaurer opened #19 "item_description not clean (contains html tags)"
Hi Robert, thanks again for your great package!

my issue: some data frames created by the "tidyfeed" function contain html tags in the "item_description" column. See for example:
taz_df <- tidyfeed("http://www.taz.de/!p4615;rss/")
bild_df <- tidyfeed("https://www.bild.de/rssfeeds/vw-politik/vw-politik-16728980,view=rss2.bild.xml")
taz_df$item_description
bild_df$item_description

I found a functi

[2018-12-09 10:08] RobertMyles commented on #19
Hi Moritz,

I took a closer look, and it's the original feed that is the problem here. If you compare the description in the feed you link to above with that of the Guardian, for example, you'll see the problem:

http://www.taz.de/!p4615;rss/:

[code]

https://www.theguardian.com/world/rss

[code]

Including a feed-specific solution in tidyRSS isn't a good idea, so you will need to extract the con

[2018-12-09 10:08] #19 closed

[2018-12-09 11:36] MoritzLaurer commented on #19
Hi Robert,
ok, understand, thanks for looking into it! :)

[2019-03-04 12:49] mrwunderbar666 opened #20 "Error on loading library (Windows, RStudio)"
Hi,
I wanted to try your package, but it doesn't even load. I am not sure, what kind of info you need. So I just start with the basics:

Error Message:

[code]

My system details:
[code]

When I installed the package via `install.packages("tidyRSS")`, it worked normally:
[code]

[2019-03-04 14:53] RobertMyles commented on #20
Hi,
This seems to be the same as [this](https://stackoverflow.com/questions/54883676/sf-error-unable-to-download-shapefile-in-r), and the solution is to update dplyr. I'll close this for now, can you let me know if this doesn't work for you?

[2019-03-04 14:53] #20 closed

[2019-03-05 06:18] mrwunderbar666 commented on #20
Can confirm that this works! Thanks!

[code]

Maybe add a note about this issue to the `readme.md` file?

[2019-03-05 21:32] RobertMyles opened #21 "item_link problems"
From #3

https://www.google.com/alerts/feeds/03790873685617914995/10391961171333916339

[2019-03-05 21:33] #3 closed

[2019-03-05 22:07] #21 closed

[2019-03-13 14:09] PeterRochat opened #22 "Error loading library"
After installation I try to load the library but it fails:

Error: package or namespace load failed for ‘tidyRSS’:
 .onLoad failed in loadNamespace() for 'sf', details:
  call: get(genname, envir = envir)
  error: object 'group_map' not found

What is going wrong?

[2019-03-13 18:45] RobertMyles commented on #22
Hi Peter, see #20 . Closing this, let me know if the solution there works for you or not.

[2019-03-13 18:45] #22 closed

[2019-04-29 23:40] AforAmateur opened #23 "Cannot generate feed"
Receiving Error: $ operator is invalid for atomic vectors all all kinds of feeds. :(

Error: $ operator is invalid for atomic vectors

Error: $ operator is invalid for atomic vectors

[2019-04-29 23:52] AforAmateur commented on #14
Hi Robert -  Great work on this, I am just learning R, but I often use google alerts, I think it would be extremely helpful to include something in the package to deal with google alerts and google rss as they are comprehensive and cover whole lot of sites that generally dont have rss themselves

Thanks again!

[2019-04-30 09:14] RobertMyles commented on #23
Hi @AforAmateur , thanks for the issue report, I'll look into asap.

[2019-04-30 09:15] RobertMyles commented on #14
Ok -- will reopen and see what I can do.

[2019-04-30 16:13] AforAmateur commented on #23
Thanks -  Appreciate you looking into it.

[2019-04-30 17:42] RobertMyles commented on #23
Can you check your settings, @AforAmateur ? I ran those two examples:

<img width="1054" alt="Screen Shot 2019-04-30 at 18 40 47" src="https://user-images.githubusercontent.com/7211207/56981742-9107d280-6b77-11e9-8e5c-0986330ddd2e.png">

They're OK for me. Have you installed the latest version of the package?

[2019-04-30 17:50] RobertMyles commented on #14
The problem I see with this is that Google Alerts (from what I see of it, I don't use it) is a type of preview page ([this for example](https://www.google.co.uk/alerts#1:1)). Scraping this gives you the title, the url of the piece it links to, an image and a snippet. I don't think this is of much use, and I think you'd be better off just writing your own scraper for this (like the example above).

[2019-04-30 17:53] #23 closed

[2019-04-30 19:38] AforAmateur commented on #23
I tried and tried and tried then I uninstalled and installed R in a separate directory, that seems to have resolved the issue. Looks like the problem was at my end. Sorry for the trouble and thanks too!

[2019-04-30 19:51] RobertMyles commented on #23
No problem, thanks for using the package!

[2019-05-08 17:49] #14 closed

[2019-05-13 14:19] RobertMyles opened #24 "georss"
https://inciweb.nwcg.gov/feeds/rss/incidents/ from Shiny app not parsing correctly.

[2019-05-14 18:56] RobertMyles commented on #24
Also
- https://bostonfed.org/rss_speeches.xml
- https://frbatlanta.org/rss/speeches

[2019-05-14 18:59] RobertMyles commented on #24
Not tidyRSS related.

[2019-05-14 18:59] #24 closed

[2019-05-16 22:33] ddbs opened #25 "Error in eval(lhs, parent, parent) : object 'rss' not found"
From the documentation example:

`rss <- tidyfeed("http://fivethirtyeight.com/all/feed")`

is giving

`Error in eval(lhs, parent, parent) : object 'rss' not found`

This is happening for all rss/xml feeds.

[2019-05-17 09:10] RobertMyles commented on #25
Thanks for flagging this @ddbs . Not sure how this happened, will have a fix asap.

[2019-05-18 10:55] #25 closed

[2019-05-19 03:56] DominiqueMakowski opened #26 "Error: object 'rss' not found"
Hi. This line of code worked until I've reinstalled the package, where it fails as follows:
[code]

<sup>Created on 2019-05-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Is that expected? Thanks for your package!

[2019-05-19 08:39] RobertMyles commented on #26
Hi Dominique, this is a bug. Install the dev version with `devtools:: install_github("RobertMyles/tidyRSS")` and it should work fine!

[2019-05-19 08:43] DominiqueMakowski commented on #26
I confirm it works with the github version :)

[2019-05-19 08:43] #26 closed

[2019-05-19 08:51] RobertMyles commented on #26
Great, thanks :smile:

[2019-05-22 02:44] fenkod opened #27 "Error in eval(lhs, parent, parent) : object 'rss' not found"
I was receiving the message `Error in eval(lhs, parent, parent) : object 'rss' not found` when running the following `pitcher_list <- tidyRSS::tidyfeed("https://www.pitcherlist.com/feed")`.

Seeing other opened issues, I removed the tidyRSS package and installed using devtools from Github instead of CRAN. The following was run `devtools::install_github("RobertMyles/tidyRSS")`. The same error remai

[2019-05-22 19:34] RobertMyles commented on #27
Hi David, thanks for reporting this. I wasn't able to reproduce it on my end:

<img width="1160" alt="Screen Shot 2019-05-22 at 20 32 05" src="https://user-images.githubusercontent.com/7211207/58202927-cca64000-7cd0-11e9-96a1-11f35f66fc6b.png">

However, I've submitted the package to CRAN and it has passed the checks so hopefully you will be able to get it from there and this feed will work fine.

[2019-05-22 19:34] #27 closed

[2019-08-29 12:38] tombroekel opened #28 "Some RSS feeds return 403 error - here is a possible fix"
I came across some RSS feeds that produce an error of this sort when using tidyRSS

Response [https://www.naumburger-tageblatt.de/feed/nachrichten/index.rss]
  Date: 2019-08-29 12:36
  Status: 403
  Content-Type: text/html
  Size: 94 B
<html><body><h1>403 Forbidden</h1>
Request forbidden by administrative rules.
</body></html>

---------------------------------------------------

Drawing on the fe

[2019-08-29 13:12] RobertMyles commented on #28
Hi Tom,
Did you try using the config argument to `httr::GET()` to pass these in?

[2019-08-29 13:16] tombroekel commented on #28
Hi Robert,

No I did not because I am far from being an expert and I don’t know what caused this issue. Just noticed that the feedeR was able to deal with it. I am very much open to better solutions. Interestingly, the error was not consistent, so sometimes it worked but many times it did not. This is the troubling feed: https://www.naumburger-tageblatt.de/feed/nachrichten/index.rss

Kind regards,

[2019-08-29 13:30] RobertMyles commented on #28
Sure, totally understand! I'll check this more thoroughly as soon as I can and get back to you. If we can't fix it within `GET()`, I'll see how I can incorporate your suggested workaround.
Thanks,
Robert

[2019-08-29 13:31] tombroekel commented on #28
Hi Robert,

Thanks. As “my solution” seems to work fine (and is just an additional if() condition in the tidyfeed function, I am not in a hurry. Nevertheless, thanks a lot for this beautiful package. You have no idea how much it is helping me.

Best,

Tom

____________________

Tom Broekel | Associate Professor of Regional Innovation | UiS Business School | Norway | t<mailto:tombroekel@me.com>om.b

[2019-09-01 12:28] RobertMyles commented on #28
Happy to hear that, Tom! :-)

I've updated the package now to send a user agent with each request.  It seems to be working fine now:

[code]

Slight issue with the empty columns (they should be NA and then removed) but I'll see if I can fix that in a future release.
I'll submit this to CRAN in the next few days, but in the meantime you can install this dev version and it should fix your problem.
T

[2019-09-01 12:28] #28 closed

[2019-09-04 09:51] tombroekel commented on #28
Dear Robert,

It seems to work great now! Thanks a lot! Btw, do you work with RSS-Feed data and if so - what are you doing with it?

Best,

Tom

____________________

Tom Broekel | Associate Professor of Regional Innovation | UiS Business School | Norway | t<mailto:tombroekel@me.com>om.broekel@uis.no<mailto:om.broekel@uis.no> | http://www.tombroekel.de  |

Recent publication: Broekel, T. (2019). U

[2019-09-05 08:48] RobertMyles commented on #28
Great, happy to hear it's working.

I don't work with RSS data regularly, in fact I created the package because I was working with this type of data a while ago and I wanted tidy dataframes back, as opposed to the lists you get with feeder. It was a little Shiny app if I remember correctly. Do anything interesting with this data yourself?

[2019-09-05 09:39] tombroekel commented on #28
Hi Robert,

Well, I am building up a news database based on RSS-Feeds. Scrapping a large number of non-uniform websites is beyond my capabilities. Therefore, RSS comes in handy, as surprisingly many newspapers (still) make use of this feature. Currently, I am concentrating on German speaking countries, but will soon expand. By now, I am reading >2k RSS feeds with your package, so it is in heavy us

[2019-09-06 10:46] RobertMyles commented on #28
That sounds very interesting, Tom. Best of luck with the project!

[2019-10-22 14:08] rxtx240 commented on #28
I have had a similar issue trying to return the feed from the following URLs
tidyfeed("https://agenciadenoticias.ibge.gov.br/agencia-rss")
Error in read_xml.response(.) : Forbidden (HTTP 403).

tidyfeed("https://conteudo.bcb.gov.br/api/feed/pt-br/notas?ano=2019")
Error: $ operator is invalid for atomic vectors

[2019-10-23 15:55] RobertMyles commented on #28
Hi @rxtx240
Is this an authentication issue for the first one? Have you looked into using httr's config options? These are available for use with `tidyfeed()`.

As for the second feed, it works fine for me:

[code]

[2019-11-04 19:08] dctanugi opened #29 "Package throws error when loading an json RSS feed"
## Replication steps:
[code]
## Result:
[code]

[2019-11-05 09:59] RobertMyles commented on #29
Hi,
This error is lower down in xml2, so fixing something in tidyRSS won't have much effect, given that I'm using xml2 for lower-level parsing and have no plans to change that for now. Have you had a look at parsing the content yourself using xml2 or another similar library? When you get these types of parsing errors (usually badly-formatted pages), it's sometimes necessary to dig down deeper your

[2019-11-05 09:59] #29 closed

[2019-11-24 16:01] lodderig opened #30 "tidyfeed throws error when reading feed"
When I try to reed the RSS feed below with tidyfeed it throws an error

`rss <- tidyfeed("https://emm.newsbrief.eu/rss/rss?type=rtn&language=en&duplicates=false")

Error in xpath_search(x$node, x$doc, xpath = xpath, nsMap = ns, num_results = 1) :
  xmlXPathEval: evaluation failed
`

httr::GET
and xml2::read_xml  both work fine

where is the function rss_parse defined?

[2019-11-25 12:08] RobertMyles commented on #30
Hi @lodderig

Please use the dev version. It will be on CRAN as soon as I clean up a few loose ends. Works fine:

[code]

It's actually `geo_parse()` used, and defined [here]( https://github.com/RobertMyles/tidyRSS/blob/master/R/geo_parse.R).

[2019-11-25 12:08] #30 closed

[2019-11-25 13:02] lodderig commented on #30
Thanks a lot for the swift follow-up, works again like a charm.

[2019-11-25 13:49] RobertMyles commented on #30
You're welcome. Thanks for using the package, and in particular for taking the time to file the issue.

[2020-01-11 15:09] alastairrushworth opened #31 "tidyRSS fails to parse feeds: "xmlXPathEval: evaluation failed""
Hi @RobertMyles

Thanks for the amazing `tidyRSS` package, I find it very useful indeed!  Thought I'd get in touch to file a quick issue as I've noticed that quite a number of feeds don't parse correctly.

For example:

[code]
Returns the error:

[code]
I think the feed is ok, and it seems like `tidyfeed` gathers the feed ok, but something goes awry with the parsing somewhere?  I noticed this issu

[2020-01-11 16:33] RobertMyles commented on #31
Hi Alastair,

Yeah, RSS feeds can be a pain, and I've seen this error a few times. I'm not sure off the top of my head where exactly it pops up. I'll have a look as soon as I can, but if you're interested in contributing, it's probably happening in one of the *_parse functions. I'm trying to clean up a lot of little things in the package for a 1.3 version, so your list will help a lot. In the mean

[2020-01-13 17:21] RobertMyles commented on #31
I had a quick chance to look at this today and with the dev version I'm getting:

[code]

With your vector of feeds, I get:

[code]

I'll try to get 1.3 finished as soon as possible, as you can see, it fixes most of these problems. In the meanwhile, if you'd like to try the dev version, it should help.

[2020-01-13 17:21] #31 closed

[2020-01-14 18:52] alastairrushworth commented on #31
Hi Rob - that's perfect, I think that fixes it completely for me.  Thanks a lot for that, I'll stick to dev until 1.3.

I'll drop you a note when I've got the long list of feeds tidied up, in case it can help.

Cheers!

[2020-01-15 09:55] RobertMyles commented on #31
That would be a help, thanks Alastair.

[2020-02-25 20:49] RobertMyles opened #34 "pass clean tags to clean_up"
I forgot to pass 'clean tags' down to clean_up.

Also, check if atom feeds need this.

[2020-02-26 14:47] RobertMyles opened #35 "missing case_when from imports."

[2020-02-26 15:02] #34 closed

[2020-02-26 15:02] #35 closed

[2020-02-26 15:41] boussouf opened #37 "reading Date for French"
Hello,

pubDate in French format are sometimes not read by the tidyRSS function.
unfortunatly, the return column is NA, so we lose this information.

Example: View(tidyfeed("https://www.valdemarne.fr/rss.xml"))

Thank you

[2020-02-26 16:15] RobertMyles commented on #37
Thanks for the bug report, @boussouf . That's an interesting problem, see [here](https://github.com/tidyverse/lubridate/issues/194) . I've been using `anytime()` to parse dates, whereas before v2 I had used lubridate. I might go back to lubridate, although this would have failed under previous versions of tidyRSS too.

[code]

<sup>Created on 2020-02-26 by the [reprex package](https://reprex.tidyv

[2020-02-27 13:55] RobertMyles commented on #37
Tracking this here: https://github.com/RobertMyles/tidyRSS/projects/3

[2020-02-27 13:55] #37 closed

[2020-02-29 18:30] polymathematic opened #38 "RSS feed error for Vox.com"
Querying "https://www.vox.com/rss/index.xml" returns the following error:

[code]

Wonderful package, though. Works brilliantly otherwise.

[2020-03-01 12:41] RobertMyles commented on #38
Thank you @polymathematic for the issue 😊, I could never find all these edge cases otherwise.

Interesting, I have a check on the content type that comes back from the `GET()` call; it should contain "atom". This one doesn't though, it contains only "xml" and so tidyRSS parses it as an RSS feed and fails.
I'm adding an xmlns check to tidyRSS, it will help with cases like these. For now, it's in a

[2020-03-01 12:41] #38 closed

[2020-03-14 09:59] alastairrushworth opened #40 "Tibble parsing error (Error: Tibble columns must have consistent lengths, only values of length one are recycled)"
Hi Rob!

The new version of `tidyRSS` is great :)

I noticed that some feeds I have that parsed with a previous tidyRSS version were failing.  I've attached a single example here.  It seems to occur somewhere in the parsing of the feed into a tibble.

This using the most up-to-date version:

[code]

Using a slightly older version (I think this commit was in January):

[code]

Thanks,

Alastair

[2020-03-14 10:06] alastairrushworth opened #41 "List of blogs"
Hi Rob, for a separate project I've been putting together a list of data science and R related RSS feeds.  Just letting you know about it in case it is useful for testing of `tidyRSS`.  Please feel free to use the list however you like.

[https://github.com/alastairrushworth/rssfeeds](https://github.com/alastairrushworth/rssfeeds)

Cheers!

Alastair

[2020-03-14 15:21] RobertMyles commented on #40
Hi Alastair, thanks for reporting this. I thought I'd made the package a bit more bug-proof, but obviously not. And this feed had some surprises for me.

Anyway, there is a fix now in the 'namespace' branch (`remotes::install_github("robertmyles/tidyrss@namespace")`). The problem was the xpath used to find the entries, and this could potentially be a problem for other feeds, so I appreciate the ot

[2020-03-29 11:24] RobertMyles opened #42 "RSS Author fields concatenating"
For e.g. "http://abandonedfootnotes.blogspot.com/feeds/posts/default?alt=rss"

"Xavier Marquezhttp://www.blogger.com/profile/10099356104979121153noreply@blogger.com"

Should be a list of something like:
"Xavier Marquez"
"http://www.blogger.com/profile/10099356104979121153"
"noreply@blogger.com"

[2020-03-29 11:25] RobertMyles opened #43 "RSS entry url & feed url wrong"
For e.g. "http://abandonedfootnotes.blogspot.com/feeds/posts/default?alt=rss"

Entry url & feed url come back as tags: `"tag:blogger.com,1999:blog-35658622.post-1773446815936186178"`

[2020-03-29 11:48] RobertMyles opened #44 "entry_category & item_category errors"
`Error: Column `item_category` must be length 15 (the number of rows) or one, not 7`
`Error: Column `entry_category` must be length 25 (the number of rows) or one, not 19`

Seen with:
- http://allthiswasfield.blogspot.com/feeds/posts/default?alt=rss
- http://allthingsdatascience.blogspot.com/feeds/posts/default

[2020-03-29 11:50] RobertMyles opened #45 "Join error for some feeds"
`Error: `by` required, because the data sources have no common variables`

Seen with:
- http://abigailsee.com/feed.xml
- http://adomingues.github.io/feed.xml

[2020-04-10 14:25] #40 closed

[2020-04-10 14:38] RobertMyles opened #48 "Strip out common unwanted characters"
I.e.
`\n\n\n\n\n\n// Define the...`

[2020-04-10 14:42] #45 closed

[2020-04-10 14:43] RobertMyles commented on #45
[code]

[2020-04-10 14:53] RobertMyles commented on #48
Before:
[code]

After:
[code]

[2020-04-10 14:53] #48 closed

[2020-04-10 18:28] RobertMyles commented on #44
Fixed:
[code]

[2020-04-10 18:28] #44 closed

[2020-04-10 18:34] RobertMyles commented on #43
See #42

[2020-04-10 18:34] #43 closed

[2020-04-10 18:35] RobertMyles commented on #42
These seem to be Blogger-specific, also #43 . Not sure if Blogger-specific cleaning should be part of tidyRSS, so closing.

[2020-04-10 18:35] #42 closed

[2020-04-10 18:51] RobertMyles commented on #41
Super helpful, Alastair, appreciate it.

[2020-04-10 18:51] #41 closed

[2020-06-01 17:23] RobertMyles commented on #12
@mbflex all these dependencies are removed now, in case you'd like to use tidyRSS again.

[2020-06-20 11:53] RobertMyles opened #49 "Date parsing alternatives"
anytime comes with Rcpp and BH, would be nice to have something lighter.

[2020-06-20 12:01] RobertMyles opened #50 "Fix tidyselect `where()`warning"
[code]

[2020-06-20 12:02] RobertMyles opened #51 "Remove message?"
Remove this: `GET request successful. Parsing...`

[2020-09-09 12:49] RobertMyles commented on #50
Closed by #52

[2020-09-09 12:49] #50 closed

[2020-09-23 08:05] werkstattcodes opened #53 "Error: Tibble columns must have compatible sizes."
Hi Robert,

many thanks for this very helpful package!  I read that you welcome users to submit feeds which didn't work with tidyRSS.

I am currently struggling to get the feed below working. (I might be mistaken, but maybe it's related to description xml:space="preserve"?).
Here's the link to the [page](https://www.parlament.gv.at/PAKT/VHG/XXVII/ME/ME_00055/index.shtml#tab-Stellungnahmen) offerin

[2020-09-23 09:44] RobertMyles commented on #53
Hi Roland,

Thanks for the issue, it's helpful to see what problems people run into in the wild. Appreciate the links and reprex too.

I haven't come across `xml:space="preserve"` before, and it seems like it's normally widely ignored, but you could be right, that might be causing the issue. The item descriptions are quite regular from what I see so they should be parsed fine with tidyRSS.
I'll se

[2020-09-28 15:10] RobertMyles commented on #53
So this is happening because the xml:space="preserve" results in a list where we get this type of thing:

[code]

So I guess one option is to write a custom function that looks for list entries of length 1 and removes them if they contain `"\n"`. This seems very custom to me, for an xml option I've never seen before. I'll have a think and see if there's a more generic way I can deal with it.

[2020-09-29 00:23] werkstattcodes commented on #53
many thanks for looking into this! For my own purpose, it would be totally fine to have an option to simply exclude the specified element (description).

[2020-10-03 10:52] RobertMyles commented on #53
Hi Roland, there's a fix for this in the `desc_fix` branch -- the fix I have messes up other things in tidyRSS so I'm not going to include in the package until I have a better way of dealing with it. Until then, if you want to clone that branch and use that version of the package. It should clear up this problem, if it doesn't, let me know.

[2020-10-03 10:53] #53 closed

[2020-10-03 10:55] #51 closed

[2020-10-03 10:55] #49 closed

[2020-10-06 19:52] werkstattcodes commented on #53
Many thanks! Really appreciated!

[2020-11-14 15:52] bryanwhiting opened #54 "broken RSS: datatau.com"
Thanks for the awesome package, Robert!! I'm loving it.

I tried this feed:

http://www.datatau.com/rss

Got this error:

[code]
here's my session info:
[code]

[2020-11-14 16:34] RobertMyles commented on #54
Hi Bryan, thanks for the issue. That's an unusual RSS, as it just has a series of links instead of the content and structure you'd normally associate with RSS (i.e. [here](http://allthiswasfield.blogspot.com/feeds/posts/default?alt=rss)). I'd recommend scraping this directly. I mean, even this little snippet of code will get you the titles and urls pretty easy, which you get parse further :

[code

[2020-11-14 16:34] #54 closed

[2020-11-17 04:49] bryanwhiting commented on #54
Thanks for the reply! I appreciate the pointer and was able to finish the rest

[code]
returns
[code]

[2020-11-17 05:18] bryanwhiting opened #55 "entry_link is same for all items"
This might be an issue with the feed itself, but the entry_link is the same for every entry (despite title and content being accurate):

[code]

yet I have other feedburner sites that don't have this problem:
[code]
side question: why does the Google feed use "entry_*" rather than "item_*"?

Thanks for your help!

[2020-11-17 14:39] RobertMyles commented on #54
Great :-)

[2020-11-17 14:41] RobertMyles commented on #55
Hi Bryan, I'll have a look at that as soon as I can.
As for your side question: no idea!

[2021-02-28 15:00] RobertMyles commented on #55
Hi Bryan,
No idea why this happens with Google feeds...must be something in the feed itself. I don't see the raw XML of it there either, so I think this is just something with the structure of these Google feeds themselves.

[2021-02-28 15:00] #55 closed

[2021-12-16 15:41] WilDoane opened #57 "tidyfeed fails when description contains HTML comments"
# Reprex

`tidyRSS::tidyfeed("https://www.sciencedaily.com/rss/top/science.xml")`

# Explanation

Some CMS include in the RSS item description field the HTML comment tag `` to delineate content above/below the fold.

[code]

This causes tidyRSS:::rss_parse to return 2 entries for description resulting in a mismatch in the number of rows the function attempts to create via tibble.

![image](https:/

[2022-05-27 10:19] RobertMyles commented on #57
Hi William, apologies, not sure how this slipped under my radar! I'll have a look at this asap and see what I can adjust.

[2022-05-30 08:35] RobertMyles commented on #57
Closed; fixed in 2.05.

[2022-05-30 08:35] #57 closed

[2022-06-01 21:43] mjl21 opened #60 "Tidyfeed() RSS Import Error"
Hi - I'm trying to extract data from a RSS page using tidyfeed(), however, I'm running into what appears to be a HTTP status error message. I tried the examples in the R documentation, which worked as expected.

Below are the simple commands I'm trying to run and the error message I keep receiving:
![image](https://user-images.githubusercontent.com/46945199/171506580-d45e83cb-65ea-467d-96db-9f7e6b

[2022-06-02 11:53] RobertMyles commented on #60
Hi @mjl21 ,

This works for me:

    tidyRSS::tidyfeed("https://sec.report/Form/13F-HR.rss")
    #> GET request successful. Parsing...
    #> # A tibble: 300 × 16
    #>    feed_title      feed_link     feed_description feed_language feed_managing_e…
    #>    <chr>           <chr>         <chr>            <chr>         <chr>
    #>  1 SEC Form 13F-HR https://sec.… SEC Filings und… en-us         a

[2022-06-02 11:53] #60 closed

[2022-06-04 10:39] RobertMyles commented on #60
Hi @mjl21 , this error is an internet error (i.e. tidyRSS can't access the RSS feed from your computer), it's not related to the R version or the package version (you can see from the above I'm using R 4.1, and I used tidyRSS v2.0.5 for that).
Would you mind using the reprex package (https://www.tidyverse.org/help/) to try this out so we can debug this together? From the info you've given me, it's

[2022-06-06 13:26] mjl21 commented on #60
Hi @RobertMyles, I appreciate you working through this issue with me! Below is the reprex() output for my short script - let me know if I copied / pasted this incorrectly as I haven't worked with the reprex package before.

install.packages("tidyRSS"); install.packages("data.table")
#> Installing package into '/cloud/lib/x86_64-pc-linux-gnu-library/4.1'
#> (as 'lib' is unspecified)
#> Installing p

[2022-06-07 12:08] RobertMyles commented on #60
So that code works perfectly for me. Sincerely, this looks like an internet issue and nothing to do with tidyRSS.
Can you try this? Both feeds should return a 200 status code.

    library(tidyRSS)
    #> Warning: package 'tidyRSS' was built under R version 4.1.2
    sec_report <- "https://sec.report/Form/13F-HR.rss"
    httr::GET(sec_report)$status
    #> [1] 200
    httr::GET("https://xkcd.com/r

[2022-06-07 13:13] RobertMyles commented on #60
ok, interesting!! This appears when you can't get to the site, so something may be restricting your access, i.e. being on a work laptop or something like that.

Anyway, happy to see it's not package related, best of luck finding the cause.

[2022-06-15 01:14] exploringfinance opened #61 "Rlang issue"
I had to go back a version because I kept getting this error. Does not exist in 2.0.4
[code]

[2022-06-16 10:33] RobertMyles commented on #61
Sorry to see this happened, @exploringfinance , the new version passed all my tests. I'll have a look at this and see if I can see what's happening.

[2022-06-21 23:49] lgnbhl commented on #61
I got the same issue, which broke a function of my R package `BFS` that have tidyRSS as a dependency. Thanks again for your great package!

[2022-06-22 00:15] lgnbhl commented on #61
It would be very appreciated if you could fix this bug, so my `BFS` R package can work again.

[2022-06-22 13:49] RobertMyles commented on #61
@lgnbhl if you'd like to roll back to version 2.0.4, that should work for you for now, I'll put in a fix for this asap.

[2022-06-22 23:50] lgnbhl commented on #61
@RobertMyles Thank you for your quick answer and for working on a fix. Yes, using version 2.0.4 allows my functions to work again.

[2022-08-12 15:50] chainsawriot opened #63 "Error for feeds with no item"
In this example, the RSS is valid but with no item in it. It raises an uninformative error.
For this case, I would expect an empty tibble.

[code]

<sup>Created on 2022-08-12 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-12 16:15] #61 closed

[2022-08-25 13:43] RobertMyles commented on #57
v2.0.6 on its way to CRAN -- thanks for the help, @chainsawriot !

[2022-08-27 19:54] swaheera opened #64 "Searching For Multiple Terms"
I am interested in using this to search Google News articles on specific topics. I had the following questions about this:

Suppose I wanted to search for "apple" and "covid" - I used to following code:

[code]
1) I am not exactly sure as to how we are supposed to search for multiple terms? Do you use "&", "|" or do you just write both terms together (e.g. "applecovid")?

2) Is there is a way to r